<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/index.css">

</head>
<body>
    <div class="row justify-content-md-center">
        <div class="bloco col-lg-6">
            <h1>Bem-vindo à Plataforma de Mecânica Automotiva</h1>
            <a href="/login" class="botao">Escolher Login</a>
        </div>
    </div>
</body>
</html>