<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Gerente</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- CSS Específico -->
    <link rel="stylesheet" href="../public/login.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <h1 class="col-lg-12">Login Gerente</h1>
        </div>
        <div class="row justify-content-md-center">
            <form method="POST" action="/gerente" id="loginForm" class="col-lg-6">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
                <label for="senha">Senha:</label>
                <input type="password" id="senha" name="senha" required>
                <button type="submit" class="botao">Login</button>
            </form>
        </div>
    </div>

    <!-- <script>
        document.getElementById('loginForm').addEventListener('submit', async (event) => {
            event.preventDefault();
            const email = document.getElementById('email').value;
            const senha = document.getElementById('senha').value;

            const response = await fetch('/login/gerente', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ email, senha })
            });

            const data = await response.json();
            // console.log(data.token);
            if (data.token) {
                localStorage.setItem('token', data.token);
                console.log(localStorage.getItem('token'));
                alert('Aoba');
                // Redirecionar para o painel do gerente
                window.location.href = '/gerente?token=' + data.token;
            } else {
                alert('Login falhou: ' + data.error);
            }
        });
    </script> -->
</body>
</html>